html, body {
  font-size: 15pt;
  background: #2E3369;
  align-items: center;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0;
  left: 0;
  top: 0;
  position: fixed;
  outline: 1px solid #fff;
}

.game-container canvas {
  width: 100%;
  height: 100%;
  position: fixed
}

.box {
  background: #FFF9;
  padding: 20px 20px 20px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.box .slidercontainer {
  height: 20px;
  width: 200px; /* Width of the outside container */
  z-index: 9;
  display: flex;
  margin-right: 15px;
  position: static;
  align-items: center;
  /*-webkit-appearance: none;*/
}

.box .slidercontainer input{
  height: 15px;
  width: 100%;
  z-index: 9;
  -webkit-appearance: none;
  outline: none;
  background: linear-gradient(to right, #2E3369 0%, #2E3369 10%, #f2f2f2 10%, #f2f2f2 100%);
  transition: background 450ms ease-in;
  /*background: #f2f2f2;*/
  border-radius: 25px;
}
.box value {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  width: 55px;
  text-align: center;
}

.slidercontainer input::-moz-range-progress {
  height: 10px;
  border-radius: 25px;
  background: #2E3369;
}

.slidercontainer input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

.slidercontainer input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 5px solid #2E3369;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
