body {
  font-size: 15pt;
  background: #2E3369;
  margin: 0 0
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #fff;
}

.game-container canvas {
  width: 100%;
  height: 100%;
}
